canvas {
    border: 3px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    display : grid;
    grid-column : 1;
    margin : 10px;
    width : 180px;
    height : 30px;
    font-size : 18px
}

p {
    display : grid;
    grid-column : 1;
    margin : 10px;
    width : 180px;
    height : 30px;
    font-size : 20px;
}

.colorBtn:active {
    border-color : gold;
}

h1 {
    font-size : 30;
    font-weight : bold;
}

#black {
    color : white;
}


