html {
    background-color: rgb(228, 178, 161);
    font-family : "Pangolin";
}

body {
    height : 600px;
    width : 1100px;
    padding : 20px 10px;
    background-color: white;
    border-style:dashed;
    border-color: rgb(230, 148, 121);
    margin: auto;
    margin-top :100px;
}

h1, p {
    display : block;
    text-align: center;
}

.options {
    display : grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    justify-content : center;
}

button {
    width : 100px;
    height : 100px;
    margin : auto;
    background-color:rgb(228, 178, 161);
    border-color : rgb(230, 148, 121);
}

button:hover {
    border-color : rgb(154, 96, 77);
}

p {
    font-size : 24px;
}

h1 {
    font-size : 40px;
}

#citation {
    font-style: "white"
}